$color-dark-1: #1a1a1a;
$color-dark-2: #424242;

$color-light-1: #efefef;
$color-light-2: #ededed;
$color-white: #fff;

$color-blue-light: #3772ff;
$color-blue-dark: #3772ff;
$color-yellow: #ffb900;
$color-green-light: #7ed56f;
$color-red: #ff2b49;
$color-coral: #ef767a;
$color-green: #45b69c;

$color-grey-light: #979797;
