// Preloader animations
@keyframes animateLogo {
  50% {
    transform: scale(1.1);
  }
  75% {
    transform: scale(0.8);
  }
  to {
    transform: scale(1);
  }
}

@keyframes fadeScreen {
  to {
    opacity: 0;
  }
}

//  Main page animations
@keyframes rotate {
  from {
    transform: rotate(0);
  }
  25% {
    transform: rotate(2turn);
  }
  50% {
    transform: rotate(-1turn);
  }
  75% {
    transform: rotate(1turn);
  }
  to {
    transform: rotate(0);
  }
}
@keyframes moveInTop {
  0% {
    opacity: 0;
    transform: translateY(-2rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-2rem);
  }
  80% {
    transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes mediaMoveInLeft {
  0% {
    opacity: 0;
    transform: translate(-4rem, -5rem);
  }
  100% {
    opacity: 1;
  }
}
@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(5rem);
  }
  80% {
    transform: translateY(-1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes flash {
  0% {
    opacity: 0.2;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeOut {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-20rem);
  }
}
@keyframes fadeMenu {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes lazyFadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes shake {
  from {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(-50deg);
  }
  40% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(-40deg);
  }
  80% {
    transform: rotate(5deg);
  }
  to {
    transform: rotate(0deg);
  }
}
